# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local

# Claves de API
config.py
secret.py

# Google Colab
content/

# Archivos temporales
*.log

# FAISS (si se generan localmente)
*.faiss
*.pkl
